<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
  <img title="{{site.author}}" src="{{ site.baseurl}}/images/common/self.png" alt="{{site.author}}"/>
  <span>{{site.aboutme}}</span>
  <br />
</div>

<style>
.sidebar .email {
  width: 100%;
  height: 38px;
}
.sidebar .line {
  width: 100%;
  height: 28px;
}
.sidebar .twitter-msg {
  width: 100%;
  height: 40px;
}
.sidebar .twitter-flw {
  width: 100%;
  height: 42px;
}
</style>

<div class="sidebar">
<div class="email">
    <a href="mailto:mailto:gyoren10+freelance@gmail.com?subject=フリーランス問い合わせ&body=問い合わせをしたいので、問い合わせフォームのURLを教えてください。%0D%0A%0D%0A※このままご返信ください。%0D%0A後ほど、筆者からメールを送信いたします。"><img src="{{ site.baseurl}}/images/common/gmail.png" width="20px"></a>
    <a href="mailto:mailto:gyoren10+freelance@gmail.com?subject=フリーランス問い合わせ&body=問い合わせをしたいので、問い合わせフォームのURLを教えてください。%0D%0A%0D%0A※このままご返信ください。%0D%0A後ほど、筆者からメールを送信いたします。" title="メールする">メールする</a>
</div>
<div class="line">
    <div class="line-it-button" data-lang="ja" data-type="friend" data-lineid="736jrlfx" style="display: none;"></div>
    <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
</div>
<div class="twitter-msg">
    <a href="https://twitter.com/messages/compose?recipient_id=1165999852842442753&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-size="small" data-text="フリーランスに興味があるので、話を聞かせてください。" data-show-screen-name="false" data-screen-name="kury0r" data-show-count="false">Message @kury0r</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="twitter-flw">
    <a href="https://twitter.com/kury0r?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="small" data-show-screen-name="false" data-show-count="false">Follow @kury0r</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
