<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
  <img title="{{site.author}}" src="{{ site.baseurl}}/images/common/self.png" alt="{{site.author}}"/>
  <span>{{site.aboutme}}</span>
  <br />
</div>

<style>
.sidebar .email {
	margin:10px auto;
	padding:0;
	overflow: hidden;
	list-style: none;
}
.sidebar .line {
	margin:10px auto;
	padding:0;
	overflow: hidden;
	list-style: none;
}
.sidebar .twitter-msg {
	margin:5px auto;
	padding:0;
	overflow: hidden;
	list-style: none;
}
.sidebar .twitter-flw {
	margin:15px auto;
	padding:0;
	overflow: hidden;
	list-style: none;
}
</style>

<div class="sidebar">
<div class="email">
    <a href="mailto:mailto:gyoren10+freelance@gmail.com?subject=フリーランス問い合わせ&body=問い合わせをしたいので、問い合わせフォームのURLを教えてください。%0D%0A%0D%0A※このままご返信ください。%0D%0A後ほど、筆者からメールを送信いたします。"><img src="{{ site.baseurl}}/images/common/gmail.png" width="20px"></a>
    <a href="mailto:mailto:gyoren10+freelance@gmail.com?subject=フリーランス問い合わせ&body=問い合わせをしたいので、問い合わせフォームのURLを教えてください。%0D%0A%0D%0A※このままご返信ください。%0D%0A後ほど、筆者からメールを送信いたします。" title="メールする">メールする</a>
</div>
<div class="line">
    <a href="http://nav.cx/1kschII"><img src="{{ site.baseurl}}/images/common/line.png" width="95px"></a>
</div>
<div class="twitter-msg">
    <a href="https://twitter.com/messages/compose?recipient_id=1165999852842442753&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-size="small" data-text="フリーランスに興味があるので、話を聞かせてください。" data-show-screen-name="false" data-screen-name="kury0r" data-show-count="false">Message @kury0r</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="twitter-flw">
    <a href="https://twitter.com/kury0r?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="small" data-show-screen-name="false" data-show-count="false">Follow @kury0r</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>

